body{
background-image: url(https://opensource.com/sites/default/files/styles/image-full-size/public/lead-images/drums-beat.png?itok=vhr6E_f1);
background-repeat: no-repeat;
background-size:cover;
}
#web{
    margin-top:10%;
    margin-left:35%;
}
#play{
    background: green;
}
.sounds{
    display:none;
}
.icons{
    width: 80px;
    height: 80px;
}
.icons:hover{
    opacity: 0.8;
}
#clap{
   
    position: absolute;
    margin-left: 80px;
    margin-top:70px;
    z-index: 100;
}
#hihat{
    
    position: absolute;
    margin-left: 330px;
    margin-top:70px;
    z-index: 100;
}
#ride{
   
    position: absolute;
    margin-left: 430px;
    margin-top:150px;
    z-index: 95;
}
#openhat{
   
    margin-top:100px;
    position: absolute;
    margin-left: -40px;
    margin-top:150px;
    z-index: 95;
}
#tink{
    
    margin-top:100px;
    position: absolute;
    margin-left: 300px;
    margin-top:200px;
    z-index: 90;

}
#tom{
    
     position: absolute;
     margin-left: 150px;
     margin-top:200px;
     z-index: 90;
}
#kick{
    
    position: absolute;
     margin-left: 40px;
     margin-top:320px;
     z-index: 90;
}
#boom{
  
    z-index: 90;
    position: absolute;
    margin-top:10px;
    margin-left: 200px;
}
#snare{
    
    z-index: 90;
    position: absolute;
    margin-top:320px;
    margin-left: 377px;

}
.rec{
    background: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.play{
    height: 0;
    width: 0;
    border-width: 0;
    border-color: black;
    background-color: black;
    margin-right: 30px;
}